{{#section 'css'}}
<link rel="stylesheet" href="../public/style.css">
<link rel="icon" href="../public/img/core-img/favicon.ico">

{{/section}}

{{#section 'js'}}

<!-- jQuery-2.2.4 js -->
<script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../public/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="../public/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="../public/js/active.js"></script>

<!-- ##### Hero Area Start ##### -->

<!-- Active js -->
<script src="../public/js/active.js"></script>
<script src="../public/js/home_script.js"></script>
{{/section}}

<div class="footer-add-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-add">
                    <a href="#"><img src="/public/img/bg-img/footer-add.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ##### Footer Add Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <class class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget-area mt-80">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="/public/img/core-img/logo.png" alt=""></a>
                            </div>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="mailto:contact@youremail.com">teamTTTA@gmail.com</a></li>
                                <li><a href="tel:+4352782883884">+84 3834 63777</a></li>
                                <li><a href="http://yoursitename.com">www.teamTTTA.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80" >
                            <!-- Title -->
                            <h4 style="font-size: 25px;" class="widget-title">Kinh Doanh</h4>
                            <!-- List -->
                            <ul class="list">
                                <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=1&&topic=1">Nông Sản</a></li>
                                 <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=1&&topic=2">Hải Sản</a></li>
                                <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=1&&topic=8">Tiêu Dùng</a></li>
                                 <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=1&&topic=4">Bất động Sản</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                     <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80" >
                            <!-- Title -->
                            <h4 style="font-size: 25px;" class="widget-title">Thể Thao</h4>
                            <!-- List -->
                            <ul class="list">
                                <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=2&&topic=11">Bóng đá Việt Nam</a></li>
                                 <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=2&&topic=10">Bóng đá quốc tế</a></li>
                             
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                     <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80" >
                            <!-- Title -->
                            <h4 style="font-size: 25px;" class="widget-title">Công Nghệ</h4>
                            <!-- List -->
                            <ul class="list">
                                <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=6&&topic=14">Thông tin viễn thông</a></li>
                                 <li style="padding: 0; margin: 0;"><a href="/newspaper?cat=6&&topic=15">Thiết bị- Phần cứng</a></li>
                             
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <h4 class="widget-title">+Tags</h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="/newspaper/byTag/1">Sức khỏe-Y tế</a></li>
                                <li><a href="/newspaper/byTag/17">Giáo dục</a></li>
                                <li><a href="/newspaper/byTag/3">Nhà đất</a></li>
                                <li><a href="/newspaper/byTag/7">Lao động-Việc làm</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |
                            Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                target="_blank">TTTA Team</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </class>
</footer>



{{!-- <link rel="stylesheet" href="/public/style.css">

{{#section 'css'}}
<link rel="stylesheet" href="../public/style.css">
<link rel="icon" href="../public/img/core-img/favicon.ico">

{{/section}}

{{#section 'js'}}

<!-- jQuery-2.2.4 js -->
<script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../public/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="../public/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="../public/js/active.js"></script>

<!-- ##### Hero Area Start ##### -->

<!-- Active js -->
<script src="../public/js/active.js"></script>
<script src="../public/js/home_script.js"></script>
{{/section}}
<footer class="footer-area">
   <div class="footer-add-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-add">
                                <a href="#"><img src="/public/img/bg-img/footer-add.gif" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            <div/>
            <!-- ##### Footer Add Area End ##### -->

            <!-- ##### Footer Area Start ##### -->
            <class class="footer-area">

                <!-- Main Footer Area -->
                <div class="main-footer-area">
                    <div class="container">
                        <div class="row">

                            <!-- Footer Widget Area -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="footer-widget-area mt-80">
                                    <!-- Footer Logo -->
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="/public/img/core-img/logo.png" alt=""></a>
                                    </div>
                                    <!-- List -->
                                    <ul class="list">
                                        <li><a href="mailto:contact@youremail.com">teamTTTA@gmail.com</a></li>
                                        <li><a href="tel:+4352782883884">+84 3834 63777</a></li>
                                        <li><a href="http://yoursitename.com">www.teamTTTA.com</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Widget Area -->
                            <div class="col-12 col-sm-6 col-lg-2">
                                <div class="footer-widget-area mt-80">
                                    <!-- Title -->
                                    <h4 class="widget-title">Politics</h4>
                                    <!-- List -->
                                    <ul class="list">
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Markets</a></li>
                                        <li><a href="#">Tech</a></li>
                                        <li><a href="#">Luxury</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Widget Area -->
                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="footer-widget-area mt-80">
                                    <!-- Title -->
                                    <h4 class="widget-title">Featured</h4>
                                    <!-- List -->
                                    <ul class="list">
                                        <li><a href="#">Football</a></li>
                                        <li><a href="#">Golf</a></li>
                                        <li><a href="#">Tennis</a></li>
                                        <li><a href="#">Motorsport</a></li>
                                        <li><a href="#">Horseracing</a></li>
                                        <li><a href="#">Equestrian</a></li>
                                        <li><a href="#">Sailing</a></li>
                                        <li><a href="#">Skiing</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Widget Area -->
                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="footer-widget-area mt-80">
                                    <!-- Title -->
                                    <h4 class="widget-title">FAQ</h4>
                                    <!-- List -->
                                    <ul class="list">
                                        <li><a href="#">Aviation</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Traveller</a></li>
                                        <li><a href="#">Destinations</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="#">Food/Drink</a></li>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Partner Hotels</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Widget Area -->
                            <div class="col-12 col-sm-4 col-lg-2">
                                <div class="footer-widget-area mt-80">
                                    <!-- Title -->
                                    <h4 class="widget-title">+More</h4>
                                    <!-- List -->
                                    <ul class="list">
                                        <li><a href="#">Fashion</a></li>
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Architecture</a></li>
                                        <li><a href="#">Arts</a></li>
                                        <li><a href="#">Autos</a></li>
                                        <li><a href="#">Luxury</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bottom Footer Area -->
                <div class="bottom-footer-area">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <!-- Copywrite -->
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                   Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">TTTA Team</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </class>
        </div>
</footer>
        

 --}}
